.authpage {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    height: 45em;
    /* min-width: 330px; */
    /* overflow-y: scroll; */
    /* background-color: #f9fcff; */
    background-color: #ffffff;
    position: relative;
    /* border: 2px solid red; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.authpage::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.authpage {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.contents {
    /* margin: 0; */
    width: 80%;
    position: absolute;
    top: 40%;
    left: 50%;

    transform: translate(-50%, -40%);
    /* border: 2px solid red; */

}

.otpimg {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.inputbox input {
    border: none;
    box-shadow: none;

}

.inputbox input:focus {
    border: none;
    box-shadow: none;
    outline: none;


}